:root {
  --cor-azul: #00acdc;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: grey;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  width: 40px;
  height: 40px;
}

.nav {
  margin-right: 40px;
}

.nav_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_link {
  margin: 0 20px;
  display: flex; /* Flexbox para centralizar o texto */
  align-items: center; /* Centraliza verticalmente */
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  position: relative; /* Para qualquer pseudo-elemento se posicionar */
  transition: color 0.3s; /* Suaviza a troca de cor */
}

.nav_link:hover {
  color: var(--cor-azul); /* Troca a cor do link ao passar o mouse */
}

/* Link ativo */
.is-active {
  color: var(--cor-azul);
}

/* Linha azul para o link ativo */
.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--cor-azul);
  border-radius: 2px;
}
